@font-face {
    font-family: quarantype;
    src: url(quarantype.otf);
}
 @font-face {
    font-family: nightingale;
    src: url(nightingale.ttf);
 }


#title {
    font-family: kinkie;
    color:white;
    font-size: 50px;
}

body {
    background-color:black;
}

ul {
    font-size: 50px;
    list-style: none;
    color:white;
    font-family: quarantype;
    margin-right: 0 auto;
}

li:before { 
    content: '☆';
    color:red;
}

#first-timestamp {
    color:white;
    font-family:nightingale;
    display:inline-block;
    font-size: 25px;
 

}

#last-timestamp {
    color:white;
    font-family:nightingale;
    font-size: 25px;
    
  

}

canvas {
    position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

}

#canvas-wrapper {
    width:100%;
    margin-bottom: 500px;
    
}

#nathan {
    width:auto;
    height:100px;
    position:fixed;
    top:0;
    right:0;
    filter: blur(1px);
}

#nathan:hover {
    cursor:pointer;
}

